

@media only screen and (max-width: 1340px) {
  #importantNotesDiv {
    display: grid;
    grid-template-columns: auto auto;
    }  

}




@media only screen and (max-width: 880px) {
    #modelViewer {
        display: flex;
    justify-content: center;
    align-items: center;
        flex-direction: column !important;
    }

    #modelViewer div.info {
        width: 80%;
    }

    #modelViewer model-viewer {
        width: 80%;
    }

    #properties, #gotCovered, #merchendise {
    display: grid;
    grid-template-columns: auto auto;
    }
    .cover {
        margin: 30px 0px;
    }



    #importantNotesDiv {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
    }

    #modelDiv {
        width: 80%;
    }
    #importantNote {
        width: 80%;
        height: 300px !important;
    }
    #twoDPicDiv {
        width: 530px !important;
        height: 400px !important;
    }

    .pricing {
        width: 100% !important;
    }
}



@media only screen and (max-width: 480px) {
	#openHamburgerIcon, #closeHamburgerIcon {
    color: white !important;
}

    #hamburger {
        float: left;
        display: block;
    }

    #menus {
        display: none;
    }

    #importantNotesDiv {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%
	}
	#modelDiv {
		width: 80%;
	}
	#importantNote {
		width: 80%;
		height: 300px !important;
	}

	#modelViewer {
		flex-direction: column;
	}
	#modelViewer div {
    width: 80%;
    text-align: center;
}

	#properties, #gotCovered {
    grid-template-columns: auto;
	}

    #gotCovered .cover {
        width: 100%;
    }

	#contactUs form input {
    width: 100%;
}
	#contactUs form textarea {
    width: 100%;
}

#importantNote {
	height: 800px;
}
#twoDPicDiv {
	height: 200px !important;
    width: 300px !important;
}


#main {
    height: 150vh
}


}